# The domain where Excalidraw will be accessible (e.g., excalidraw.example.com)
DOMAIN=excalidraw.example.com

# The name of the external Docker network used by Traefik
NETWORK_NAME=proxy-net

# The name of the certificate resolver configured in Traefik
CERT_RESOLVER=myresolver
